@font-face{font-family: "opensans";src: url(font-folder/opensans/OpenSans-Bold.ttf);}

#opensans{font-family: "opensans";}



@font-face{font-family: "NuosuSIL";src: url(font-folder/NuosuSIL.ttf);}

#NuosuSIL{font-family: "NuosuSIL";}



@font-face{font-family: "opensansBold";src: url(font-folder/opensans/OpenSans-Bold.ttf);}

#opensansBold{font-family: "opensansBold";}



@font-face{font-family: "OpenSansRegular";src: url(font-folder/opensans/OpenSansRegular.ttf);}

#OpenSansRegular{font-family: "OpenSansRegular";}






